<div class="container">
  <h1 class="mt-3">Comments List</h1>
  <ng-container *ngIf="user !== undefined">
    <div class="d-flex justify-content-end mt-3">
      <a class="btn btn-primary" [routerLink]="['/comments', id, 'add']">
        Add Comment
      </a>
    </div>
  </ng-container>

  <ng-container *ngIf="comments$ | async as comments">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Username</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments">
          <td>{{ comment.user.username }}</td>
          <td>{{ comment.content }}</td>
          <td>
            <ng-container *ngIf="user?.roles?.includes('Admin'); else secondIf">
              <a [routerLink]="['/comment/edit', comment.id]">Edit</a>
            </ng-container>
            <ng-template #secondIf>
              <ng-container *ngIf="user?.email === comment.user.email">
                <a [routerLink]="['/comment/edit', comment.id]">Edit</a>
              </ng-container>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
